@import url('httpthes://fonts.googleapis.com/css?family=Lato&display=swap');

.cc-header {
  @apply mt-4;
  @apply mb-2;
  @apply font-medium;
}

.cc-content {
  @apply font-light;

  h1 {
    @apply cc-header text-2xl border-b;
  }

  h2 {
    @apply cc-header text-xl;
  }

  h3 {
    @apply cc-header text-lg;
  }

  pre {
    @apply bg-gray-200 px-2 py-4;
  }

  strong {
    @apply font-bold;
  }
}
